/*

comentarios
multilinea

*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');

/*reseteo de valores*/

*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    box-sizing: border-box;
}

/*
body{
    background-image: linear-gradient(to right bottom, #ffffe1, #fff8e3, #fff3eb, #fff1f2, #f8f0f4, #e6e2e5, #d5d3d5, #c5c5c5, #a7a7a7, #8b8b8b, #6f6f6f, #555555);
}
*/

h1{
    color:#000000;
    font-family: "MuseoModerno", sans-serif;
    text-align: center;
    font-size: 3rem;
    padding-top: 15px;
    padding-bottom: 0px;
}

h2{
    color:#000000;
    font-family: "MuseoModerno", sans-serif;
    text-align: center;
    font-size: 2rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

h3{
    color:#000000;
    font-family: "MuseoModerno", sans-serif;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 60px;
    padding-bottom: 30px;
}

@media screen and (max-width: 768px){
    h2{
    padding-top: 70px;
    padding-bottom: 30px;
    }
}

h4{
    color:#000000;
    font-family: "MuseoModerno", sans-serif;
    text-align: center;
    font-size: 1.5rem;
}

h5{
    color:#000000;
    font-family: "MuseoModerno", sans-serif;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 30px;
    padding-bottom: 30px;
}

@media screen and (max-width: 768px){
    h5{
        padding-top: 10px;
    }
}

h6{
    color:#000000;
    font-family: "MuseoModerno", sans-serif;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 60px;
    padding-bottom: 30px;
}

p{
    font-size: 1rem;
}

hr{
    color: darkgrey;
}

a{
    color: black;
    text-decoration: none;
}

.header{
    width: 100%;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: center;
    font-size: 8px;
    background-color: rgba(255, 255, 255, 0.795);
    position: sticky;
    top: 0;
    z-index: 1000;
    .logo{
        width: 50px;
    }
    nav{
        ul{
            list-style: none;
            li{
                display: inline-block;
                margin-right: 15px
            }
            a{
                color: black;
                text-decoration: none;
                font-size: 2em;
            }
        }
    }
}

@media screen and (max-width: 768px){
    .header{
        flex-direction: column;
        height: auto;
        padding: 10px;
        row-gap: 20px;
        align-items: center;
        font-size: 0.35em;
        position: relative;
        nav{
            ul{
                li{
                    
                    margin-right: 5px;
                    margin-left: 5px;
                }
            }
        }
    }
    .logoModerno{
        height: 0.6em;
    }
}

/*
.header{
    .logo{
        width: 100px;
    }
}
*/



.boxIndex{
    display:inline-block; 
    text-decoration: none;
    margin-top: 30px;
    border: 2px groove grey;
    text-align: center;
    padding: 15px;
    box-shadow: 3px 4px 3px -1px rgba(0,0,0,0.74);
    -webkit-box-shadow: 3px 4px 3px -1px rgba(0,0,0,0.74);
    -moz-box-shadow: 3px 4px 3px -1px rgba(0,0,0,0.74);
    backdrop-filter: blur(5px);
    border-radius: 10px; /* Ajusta este valor para cambiar el redondeado */
}

@media screen and (max-width: 768px){
    .boxIndex{
        padding: 5px;
    }
}

.textJustified{
    text-align: justify;
    padding-bottom: 10px;
}

.textJustifiedGlosario{
    text-align: justify;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
}

.textPadding{
    padding: 40px;
}

.textGlosario{
    padding-bottom: 60px;
    padding-left: 20px;    
    padding-right: 20px;
    list-style: none;
}

@media screen and (max-width: 768px){
    .textGlosario{
        padding-left: 0px;    
        padding-right: 0px;
    }
}

.boxRA{
    display: none;
}

@media screen and (max-width: 768px){
    .boxRA{
    display: inline-block;
    font-size: 2em;
    text-decoration: none;
    margin-top: 35px;
    border: 2px groove grey;
    text-align: center;
    padding: 20px;
    box-shadow: 3px 4px 3px -1px rgba(0,0,0,0.74);
    -webkit-box-shadow: 3px 4px 3px -1px rgba(0,0,0,0.74);
    -moz-box-shadow: 3px 4px 3px -1px rgba(0,0,0,0.74);
    backdrop-filter: blur(5px);
    border-radius: 10px; /* Ajusta este valor para cambiar el redondeado */
    }
}

.textoPC{
    display:none;
}

@media screen and (max-width: 768px){
    .textoPC{
    display: inline-block;
    box-sizing: content-box;
    margin-inline: auto;
    text-align: justify;
    overflow: auto;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    }
}

.textoCel{
    display: inline-block;
    box-sizing: content-box;
    margin-inline: auto;
    text-align: justify;
    overflow: auto;
    padding-top: 20px;
    
}

@media screen and (max-width: 768px){
    .textoCel{
    display:none;
    }
}

.boxLogo{
    display: inline-block;
    text-decoration: none;
    border: 2px groove grey;
    border-radius: 50%;
    box-shadow: 3px 4px 3px -1px rgba(0,0,0,0.74);
    -webkit-box-shadow: 3px 4px 3px -1px rgba(0,0,0,0.74);
    -moz-box-shadow: 3px 4px 3px -1px rgba(0,0,0,0.74);
}

.boxGaleria{
    font-size: 1rem;
    box-sizing: content-box;
    background-color: hsla(0, 0%, 30%, 0.5);
    width: 110px;
    margin-inline: auto;
    border: 2px groove rgba(0, 0, 0, 0.5);
    padding: 0 auto;
    text-align: center;
    overflow: auto;
}

.boxContacto{
    font-size: 1rem;
    line-height: 2;
    box-sizing: content-box;
    background-color: hsl(0, 0%, 100%);
    margin-inline: auto;
    border: 2px groove rgba(0, 0, 0, 0.5);
    padding-bottom: 80px;
    text-align: center;
    overflow: auto;
    h2{
        color:#000000;
        text-align: center;
        padding-top: 0px;
    }
}

.boxSobre{
    font-size: 3rem;
    box-sizing: content-box;
    background-color: hsl(0, 0%, 100%);
    margin-inline: auto;
    border: 2px groove rgba(0, 0, 0, 0);
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 80px;
    text-align: center;
    overflow: auto;
    h2{
        color:#000000;
        text-align: center;
        padding-top: 1px;
    }
}

.boxCarrito{
    font-size: 1rem;
    line-height: 2;
    box-sizing: content-box;
    align-items: center;
    background-color: hsla(0, 0%, 30%, 0.055);
    margin-inline: auto;
    border: 2px groove rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    padding-bottom: 33px;
    text-align: center;
    overflow: auto;
    h2{
        color:#aaaaaa;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.container{
        width: 40vw;
    }

.auto-resize-textarea{
        width: 400px;
        height: 200px;
        padding: 10px;
    }

.carritoTemplate{
    font-size: 1rem;
    line-height: 2;
    box-sizing: border-box;
    background-color: hsla(0, 0%, 30%, 0.055);
    margin-inline: auto;
    border: 2px groove rgba(0, 0, 0, 0.5);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 160px;
    padding-bottom: 160px;
    align-items: center;
    text-align: center;
    overflow: auto;
    table{
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    } 
    td, th{
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even){
        background-color: #dddddd;
      }
    }

@media screen and (max-width: 768px){
    .carritoTemplate{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    }
}

.principalIndex{
    background-image: url(../assets/img/00.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
    text-align: center;
    padding-top: 20px;
    .contenedorTextoPrincipalIndex{
        margin: 0 auto;
        text-align: center;
        width: 30%;
        font-size: 10px;
        color: #eeeeee;
            h1{
                font-size: 3em;
                color: #eeeeee;
                display: inline-block;
                margin-bottom: 10px;
                text-align: center;
                border-radius: 10px;
                padding-top: 120px;
                
            }
            h2{
                font-size: 2.5em;
                color: #eeeeee;
                text-align: center;
            }
    }
}

@media screen and (max-width: 768px){
    .principalIndex{
        height: 48vh;
    }
}

.principalRA{
    text-align: center;
    padding-top: 0px;
    .contenedorTextoPrincipalIndex{
        margin: 0 auto;
        text-align: center;
        width: 30%;
        font-size: 10px;
        color: #eeeeee;
            h1{
                font-size: 3em;
                color: #eeeeee;
                display: inline-block;
                margin-bottom: 10px;
                text-align: center;
                border-radius: 10px;
                padding-top: 120px;
                
            }
            h2{
                font-size: 2.5em;
                color: #eeeeee;
                text-align: center;
            }
    }
}

@media screen and (max-width: 768px){
    .principalRA{
        h4{
            font-size: 0.8em;
            color: #000000;
            display: inline-block;
            margin-bottom: 10px;
            text-align: center;
            border-radius: 10px;
            padding-top: 10px;
        }
    }
}

.realidadAumentada{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 40px;
    div{
        text-align: center;
        width: 300px;
        img{
            width: auto;
            height: 300px;
            object-fit: cover;
        }
    }
}

.galeriaQR{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding-bottom: 40px;
    div{
        text-align: center;
        width: 350px;
        img{
            width: auto;
            height: 360px;
            object-fit: cover;
        }
    }
}

.contenidoCentrado{
    display: flex;
    justify-content: center;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
}
    
.galeria div {
    text-align: center;
    flex: 1 1 300px; /* Ajusta el tamaño base y deja que se redimensione */
}
    
.galeria img {
    width: 75%; /* Hace que las imágenes ocupen el 100% del contenedor */
    max-width: 250px;
    height: auto; /* Mantiene la relación de aspecto */
    object-fit: cover;
    padding-top: 30px;
    margin: 10px;
}

.obleas{
    padding-top: 30px;
}

@media screen and (max-width: 768px){
    .galeria {
        padding-bottom: 0px;
    }
    .galeria img {
        width: 75%; /* Hace que las imágenes ocupen el 100% del contenedor */
        height: auto; /* Mantiene la relación de aspecto */
        object-fit: cover;
        padding-top: 0px;
        margin: 0px;
    }

    .obleas{
        padding-top: 0px;
        padding-bottom: 50px;
    }
}

.fuente50px{
    font-size: 50px;
}

.fuente20px{
    font-size: 20px;
}

.fuente15px{
    font-size: 15px;
}

.fuente10px{
    font-size: 12px;
    padding-top: 10px;
}

.fuenteNegrita{
    font-weight: 700;
}

.fuenteCursiva{
    font-style: italic;
}

.interlineado{
    line-height: 1.5;
}

.fa-instagram{
    font-size: 2.5em;
}

.fa-arrow-turn-up{
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    border: 2px groove grey;
    border-radius: 50%;
    background-color: #ffffffff;
    box-shadow: 3px 4px 3px -1px rgba(0,0,0,0.74);
    -webkit-box-shadow: 3px 4px 3px -1px rgba(0,0,0,0.74);
    -moz-box-shadow: 3px 4px 3px -1px rgba(0,0,0,0.74);
    padding-right: 4px;
    font-size: 2em;
    position: fixed;
    bottom: 40px;
    right: 30px;
}

@media screen and (max-width: 768px){
    .fa-arrow-turn-up{
        bottom: 20px;
        right: 20px;
    }
}

.imagenQR{
    padding-top: 40px;
}

.adress{
    display: flex;
    text-decoration: none;
}

.footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20vh;
    padding-left: 40px;
    padding-right: 120px;
    align-items: center;
    background-color: #ffffff;
}

@media screen and (max-width: 768px){
    .footer{
        flex-direction: column;
        height: auto;
        padding: 20px;
        row-gap: 10px;
        align-items: start;
    }
}


 /* Add a black background color to the top navigation */
 .topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  } 


   /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
 